.footer {
    display: block;
    background-color: #333333;
    width: 100%;
    z-index: 5;
    margin-top: 100px;
    padding-bottom: 50px;
    filter: drop-shadow(0px 0px 20px #00000088);
}

.footer_container {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: min(1500px, 80%);
}

.footer_info_container {
    display: block;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    row-gap: 10px;
    margin: 2%;
}

.footer_link {
    display: block;
    width: fit-content;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;

    color: white;
    background-color: rgba(0, 0, 0, 0);

    padding: 10px;
    margin: 10px;

    border: solid;
    border-color: white;
    border-radius: 15px;

    transition: 0.25s ease-in-out;
}

.footer_link:hover {
    color: black;
    background-color: white;
}

.footer_link:active {
    background-color: rgb(100, 100, 100);
    border-color: rgb(100, 100, 100);
    transition: 0.1s;
}

@media screen and (max-width: 600px) {
    .footer_link {
        margin: 1vw;
        font-size: max(6vw, 20px);
    }
    .footer_container {
        flex-basis: 100%;
        flex-wrap: wrap;
    }
}