.intro_section {
    overflow: visible;
    display: block;
    /* height: 100vh; */
    /* filter: drop-shadow(0px 0px 20px #000000); */

}

.intro_container {
    display: block;
    width: 100%;
    max-width: var(--defaultwidth);

    position: relative;
    margin: 15vh auto;

    text-align: center;
    text-transform: uppercase;
}

.intro_header {
    display: block;
    font-size: max(5vw, 48px);
    font-style: italic;
    line-height: max(5vw, 48px);
    width: auto;
    margin: auto min(8vw, 50px) 5px min(8vw, 50px);
    padding-bottom: 0.05vw;
    color: white;

    text-decoration: underline;
    text-decoration-color: white;
    min-width: 100px;
}

.intro_desc {
    display: block;
    font-family: Exo, sans-serif;
    color: white;
    margin: auto max(10vw, 50px);
    font-size: 18px;
    line-height: normal;
}

@media screen and (max-width: 860px) {
    .intro-header {
        font-size: 10vw;
        line-height: 10vw;
    }
}